```{=html}

<div class="datasets">
  <% for (const item of items) { %>
  <div class="data-entry">
    <div class="body">
      <!-- タイトル -->
      <p class="data-title">
        <% if (item.url) { %>
          <a href="<%= item.url %>" target="_blank"><%= item.title %></a>
        <% } else { %>
          <%= item.title %>
        <% } %>
      </p>

      <!-- 概要 -->
      <p class="data-description"><%= item.description %></p>

      <!-- リンクと更新日 -->
      <ul class="data-links">
        <li class="data-link-header">
          <span class="link-icons">
            <% for (const link of item.links) { %>
              <% if (link.local) { %>
                <a href="<%- link.url %>">
              <% } else { %>
                <a href="<%- link.url %>" target="_blank">
              <% } %>
                  <i class="bi bi-file-text"></i> 詳細を見る
                </a>
            <% } %>
          </span>
          <% if (item.date) { %>
          <span class="data-date">
            更新日: <%= item.date %>
          </span>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
  <% } %>
</div>

```