```{=html}

<div class="softwares">
  <% for (const item of items) { %>
  <div class="software-entry">
      <div class="body">
          <p class="software-title">
              <% if (item.url) { %>
              <a href="<%= item.url %>" target="_blank"><%= item.title %></a>
              <% } else { %>
              <%= item.title %>
              <% } %>
              <% if (item.cran_package) { %>
              <a href="https://CRAN.R-project.org/package=<%= item.cran_package %>" target="_blank"><img src="https://www.r-pkg.org/badges/version/<%= item.cran_package %>" alt="CRAN status" style="vertical-align: middle;"></a>
              <% } %>
              <% if (item.github_repo) { %>
              <a href="https://github.com/<%= item.github_repo %>" target="_blank"><img src="https://img.shields.io/github/r-package/v/<%= item.github_repo %>?label=dev" alt="GitHub dev version" style="vertical-align: middle;"></a>
              <% } %>
          </p>
          <p class="software-description"><%= item.description %></p>
          <ul class="software-links">
              <li class="software-link-header">
                  <span class="link-label">Link:</span>
                  <span class="link-icons">
                      <% for (const link of item.links) { %>
                      <% if (link.local) { %>
                      <a href="<%- item.path.substring(0, item.path.lastIndexOf('/')) %>/<%- link.url %>">
                      <% } else { %>
                      <a href="<%- link.url %>">
                      <% } %>
                          <i class="<%- link.icon %>"></i> <%= link.name %>
                      </a>
                      <% } %>
                  </span>
              </li>
          </ul>
      </div>
  </div>
  <% } %>
</div>

```