```{=html}
<div class="softwares">
  <% for (const item of items) { %>
  <div class="software-entry">
      <div class="body">
          <p class="software-title">
              <% if (item.url) { %>
              <a href="<%= item.url %>" target="_blank"><%= item.title %></a> 
              <% } else { %>
              <%= item.title %> 
              <% } %>
          </p>
          <p class="software-description"><%= item.description %></p>
          <ul class="software-links">
              <li class="software-link-header">
                  <span class="link-label">Link:</span>
                  <span class="link-icons">
                      <% for (const link of item.links) { %>
                      <% if (link.local) { %>
                      <a href="<%- item.path.substring(0, item.path.lastIndexOf('/')) %>/<%- link.url %>">
                      <% } else { %>
                      <a href="<%- link.url %>">
                      <% } %>
                          <i class="<%- link.icon %>"></i> <%= link.name %>
                      </a>
                      <% } %>
                  </span>
              </li>
          </ul>
      </div>
  </div>
  <% } %>
</div>

```