```{=html}

<div class="tools">
  <% for (const item of items) { %>
  <div class="tool-entry">
    <div class="body">
      <!-- タイトル -->
      <p class="tool-title">
        <% if (item.url) { %>
          <a href="<%= item.url %>" target="_blank"><%= item.title %></a>
        <% } else { %>
          <%= item.title %>
        <% } %>
      </p>

      <!-- 概要 -->
      <p class="tool-description"><%= item.description %></p>

      <!-- リンクと更新日 -->
      <ul class="tool-links">
        <li class="tool-link-header">
          <span class="link-icons">
            <% for (const link of item.links) { %>
              <a href="<%- link.url %>" target="_blank">
                <i class="<%- link.icon %>"></i> <%= link.name %>
              </a>
            <% } %>
          </span>
          <% if (item.date) { %>
          <% const _td = new Date(item.date); %>
          <span class="tool-date">
            更新日: <%= _td.getUTCFullYear() %>年<%= _td.getUTCMonth() + 1 %>月<%= _td.getUTCDate() %>日
          </span>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
  <% } %>
</div>

```
