```{=html}
<div class="papers">
  <% for (const item of items) { %>
  <div class="paper-entry">
    <div class="body">
      <p class="paper-citation">
        <%= item.authors %> (<%= item.year %>) "<%= item.title %>" <i><%= item.journal %></i>,
        <% if (item.doi) { %>
          <a href="https://doi.org/<%= item.doi %>" target="_blank">https://doi.org/<%= item.doi %></a>
        <% } %>
      </p>
      <% if (item.abstract) { %>
      <div class="paper-abstract-link">
        <a href="<%= item.abstract %>" target="_blank">
          <i class="fa fa-file-alt"></i> Abstract
        </a>
      </div>
      <% } %>
    </div>
  </div>
  <% } %>
</div>
```